@import url("https://cdn-uicons.flaticon.com/2.3.0/uicons-brands/css/uicons-brands.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* *>* {
  outline: red solid 1px;
} */

:root {
  --bone: #f8f5f5;
  --primary: #6640d5;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide__coworker {
  flex: 0 0 20%;
  min-width: 0;
}

.embla__slide__project {
  flex: 0 0 35%;
  min-width: 0;
  padding: 0 20px;
  /* padding: 0 16px 0 0; */
  /* min-width: 200px; */
  /* max-width: 220px; */
  /* padding: 0 14px; */
}

.clip-bottom {
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

:root {
  --primary: #6640d5;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4d31a1;
}

::-webkit-scrollbar-thumb:active {
  background: #4d31a1;
}

.m_396ce5cb:where([data-in-range]) {
  background-color: hsla(
    var(--primary-h, 240),
    var(--primary-s, 50%),
    var(--primary-l, 50%),
    0.05
  ) !important;
}

.m_396ce5cb:where([data-selected]) {
  background-color: var(--primary) !important;
}

.dissolve {
  animation: dissolve 300ms ease-in-out forwards;
}

@keyframes dissolve {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.mantine-Popover-dropdown {
  border-radius: 12px !important;
}

.ruler-grid {
  display: grid;
  grid-template-columns: repeat(13, minmax(0, 1fr));
  grid-template-rows: repeat(13, minmax(0, 1fr));
  gap: 1rem;
  grid-auto-flow: row;
}
